# Flutter/Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android
android/local.properties
android/.gradle/
android/setup_android_env.sh
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/.last_build_id

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
*.swp
*.class
*.log
*.pyc

# Misc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
app.*.symbols
app.*.map.json